# Data
/unsplash-dataset
unsplash-dataset.zip

# IDE
.vscode
.idea

# Python
__pycache__
.ipynb_checkpoints
.mypy_cache
*.egg-info

# pytest
.coverage*
.pytest_cache
htmlcov

# env
.env

# Streamlit
.streamlit

# Misc
.DS_Store
/figures